<section class="checkbox">

  <h1>Hinweise</h1>

  <mat-checkbox style="margin-bottom: 40px">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque
  </mat-checkbox>

  <mat-checkbox style="margin-bottom: 40px">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque
  </mat-checkbox>

  <mat-checkbox style="margin-bottom: 40px">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque
  </mat-checkbox>

</section>
