#layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#btn {
  background: #0073aa;
  color: white;
  margin: 20px 0;
}

#containerSearch {
  margin: 20px 0;
}

#containerTabelle {
  width: 90%;
}

