<div class="layout">
  <app-hinweise></app-hinweise>
  <div class="wrapper">
    <div class="titel_btn">

      <mat-form-field id="titel" appearance="standard">
        <mat-label>Angebotstitel</mat-label>
        <input name="angebotstitel" [formControl]="titel" matInput #angebotstitel required
               appForbiddenName="">
      </mat-form-field>
      <button mat-button cdkFocusInitial
              disabled="{{!angebotstitel.checkValidity()}}" (click)="correctAngebotstitel(angebotstitel.value)">
        OK
      </button>

    </div>
    <div class="beteiligte">
      <div id="kunde">
        <h1>Kunde</h1>
        <div [formGroup]="beteiligteData.kundenData">
          <mat-form-field appearance="outline">
            <mat-label>Unternehmensname + Rechtsform</mat-label>
            <input matInput type="text" name="unternehmensname" formControlName="unternehmensname">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Abteilung oder Name</mat-label>
            <input matInput type="text" name="abteilung" formControlName="abteilung">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Straße oder Postfach</mat-label>
            <input matInput type="text" name="strasse" formControlName="strasse">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>PLZ Ort</mat-label>
            <input matInput type="text" name="plz" formControlName="plz">
          </mat-form-field>
        </div>
      </div>

      <div id="angebotsersteller">
        <h1>Angebotsersteller</h1>
        <div [formGroup]="beteiligteData.angebotserstellerData">
          <mat-form-field appearance="outline">
            <mat-label>Max Mustermann</mat-label>
            <input matInput type="text" name="name" formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Musterabteilung</mat-label>
            <input matInput type="text" name="abteilung" formControlName="abteilung">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>+49 2102 30961-05</mat-label>
            <input matInput type="text" name="telefon" formControlName="telefon">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>max.mustermann@gmail.com</mat-label>
            <input matInput type="text" name="email" formControlName="email">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
<app-operation-bar (saveButton)="save()"></app-operation-bar>
