<mat-stepper [linear]="isLinear" #stepper>

  <mat-step>
    <ng-template matStepLabel>Beteiligte</ng-template>
    <app-involvedPersons #child></app-involvedPersons>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Ausgangssituation</ng-template>
    <app-initialSituation></app-initialSituation>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Projektziel & Leistungsbeschreibung</ng-template>
    test3
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Kondition</ng-template>
    <app-konditionen></app-konditionen>
  </mat-step>
</mat-stepper>
