#clear-btn {
  font-size: 25px;
  padding: 5px;
  color: white;
  background: #ffc800;
  border-radius: 50px;
}

#download-btn {
  font-size: 25px;
  padding: 5px;
  color: white;
  background: #0073aa;
  border-radius: 50px;
  margin: 0 5px;
}

#save-btn {
  font-size: 25px;
  padding: 5px;
  color: white;
  background: #0073aa;
  border-radius: 50px;
}

.material-icons{
  &:hover{
    cursor: pointer;
  }
}
