<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let textBlock"> {{textBlock.name}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Beschreibung</th>
    <td mat-cell *matCellDef="let textBlock"> {{textBlock.description}} </td>
  </ng-container>

  <!-- Creator Column -->
  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef> Ersteller</th>
    <td mat-cell *matCellDef="let textBlock"> {{textBlock.creator}} </td>
  </ng-container>

  <!-- Operation Column -->
  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef>Operation</th>
    <th mat-header-cell *matHeaderCellDef>Operation</th>
    <td mat-cell *matCellDef="let textBlock" class="operation">
        <span class="material-icons" (click)="editTextBlock()">
          edit
        </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
