.wrapper{
  width: 25vw;
}

h1 {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

input {
  font-size: 120%;
  padding: 5%;
  margin-top: 5%;
  width: 20vw;
}


