.wrapper {
  display: flex;
  flex-direction: row;
}

app-hinweise {
  margin-top: 2%;
}

app-situation{
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 0 2rem 0 2rem;
  margin-top: 2%;
  margin: 0 5%;
}

app-textbausteine{
  padding-right: 10%;
  margin-top: 2%;
}

