// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

.mat-checkbox-layout {
  white-space: normal !important;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Angebotserstellung-primary: mat.define-palette(mat.$indigo-palette);
$Angebotserstellung-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Angebotserstellung-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Angebotserstellung-theme: mat.define-light-theme((
  color: (
    primary: $Angebotserstellung-primary,
    accent: $Angebotserstellung-accent,
    warn: $Angebotserstellung-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Angebotserstellung-theme);

* {
  font-family: "Roboto Light", sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: rgba(95, 95, 95);
  text-align: center;
}

.material-icons {
  &:hover {
    cursor: pointer;
    border-radius: 20px;
    background: rgba(226,226,226,0.41);
  }
}
