.search-box {
  width: 270px;
  height: 19px;
  background: white;
  border: 1px solid black;
  border-radius: 0;

  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-weight: bold;
  line-height: 20px;
  width: 200px;

  &::placeholder{
    color: #0073aa;
  }
}

.search-btn {
  color: white;
  background-color: #0073aa;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    cursor: pointer;
  }
}


